<section class="header-search">
    <div class="container">
        {{ form_start(formSearch, {'attr': {
            'class': 'd-flex flex-row align-items-center mt-2 mb-3 search-form',
        }}) }}
        <div class="m-0 mr-3">
            <img src="https://i.hh.ru/logos/svg/hh.ru-small.svg" alt="logo" width="50" height="50">
        </div>
        <div class="m-2 flex-grow-1">
            <div class="input-group">
                {{ form_widget(formSearch.name, {'attr': {
                    'class': 'form-control',
                    'placeholder': 'I searching ...'
                }}) }}

                <div class="input-group-append">
                    <select class="btn form-control select-search" id="exampleFormControlSelect1">
                        <option>Вакансии</option>
                        <option>Резюме</option>
                    </select>
                </div>

            </div>
        </div>
        <div class="m-0">
            <button class="btn btn-primary" type="submit" role="button">Найти</button>
        </div>
        <div class="ml-4">
            <a class="text-muted" href="#">Расширенный поиск</a>
        </div>
        {{ form_end(formSearch) }}
    </div>
</section>

<section class="user-bar bg-dark mb-2">
    <div class="container">
        <div class="row">
            <div class="col-2 head-alignment">
                <a class="text-white" href="{{ path('employee_resume') }}">Создать резюме</a>
            </div>
            <div class="col-2 mr-auto head-alignment">
                <a class="text-white" href="{{ path('create_job') }}">Создать вакансию</a>
            </div>
            <div class="col-2 text-right">
                {% if is_granted('ROLE_USER') %}
                    <div class="profile-dropdown head-alignment">
                        <a class="text-white" href="#">Profile</a>
                        <div class="profile-dropdown__content text-left">
                            <a class="profile-dropdown__button btn btn-light" href="#">{{ user.getUsername }}</a>
                            <a class="profile-dropdown__button btn btn-light" href="{{ path('security_logout') }}">Выйти</a>
                        </div>
                    </div>
                {% else %}
                    <div class="login-dropdown head-alignment">
                        <a class="text-white" href="#">Войти</a>
                        <div class="login-dropdown-content text-left">

                            {{ form_start(form, { 'action': path('security_login') }) }}
                                {{ form_errors(form) }}
                                <div class="form-group">
                                    {{ form_label(form._username) }}
                                    {{ form_widget(form._username, {'attr': {'class': 'form-control'}}) }}
                                    {{ form_errors(form._username) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(form._password) }}
                                    {{ form_widget(form._password, {'attr': {'class': 'form-control'}}) }}
                                    {{ form_errors(form._password) }}
                                </div>
                                <div class="form-check mb-3">
                                    <input type="checkbox" class="form-check-input" id="dropdownCheck2">
                                    <label class="form-check-label" for="dropdownCheck2">
                                        Remember me
                                    </label>
                                </div>
                                <button type="submit" class="submit-login btn btn-primary">Sign in</button>
                                <div class="registration-block mt-3">
                                    <p class="text-center">Registration</p>
                                    <div class="registration-block-buttons">
                                        <a href="{{ path('employee_signup') }}" class="btn btn-light">Соискателя</a>
                                        <a href="{{ path('employer_signup') }}" class="btn btn-light">Работодателя</a>
                                    </div>
                                </div>
                            {{ form_end(form) }}

                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>