<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Admin panel{% endblock %}</title>

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,800">
    <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/admin_styles.css') }}">
    {% block stylesheets %}{% endblock %}
</head>

<body>
<div class="wrapper">
    <header class="main-header container-fluid bg-primary">
        <div class="row align-items-center">
            <div class="col-2">
                <a href="" class="ml-3">
                    <span class="text-white"><b>Admin</b>LTE</span>
                </a>
            </div>
            <div class="col-10">
                {% include '_breadcrumbs.html.twig' %}
            </div>
        </div>
    </header>
    <div class="container-fluid">
        <div class="row">
            <div class="navigator col-2">
                <ul class="nav bd-sidenav">
                    <li><a href="{{ path('admin_homepage') }}">Home</a></li>
                    <li><a href="{{ path('admin_users') }}">Users</a></li>
                    <li><a href="{{ path('admin_employees') }}">Employees</a></li>
                    <li><a href="{{ path('admin_employers') }}">Employers</a></li>
                    <li><a href="{{ path('admin_companies') }}">Companies</a></li>
                    <li><a href="{{ path('admin_jobs') }}">Jobs</a></li>
                    <li><a href="{{ path('admin_resumes') }}">Resumes</a></li>
                </ul>
            </div>
            <main class="col-10">
                {% block body %}{% endblock %}
            </main>
        </div>
    </div>
</div>
{% block javascripts %}{% endblock %}
</body>
</html>
