{% extends 'base.html.twig' %}

{% block body %}
    <section class="container">
        <div class="row">
            <div class="col-9">

                <h2 class="mt-4 mb-3">Ваше резюме</h2>
                {{ form_start(resumeForm) }}
                {{ form_errors(resumeForm) }}
                <div class="form-group">
                    {{ form_label(resumeForm.name) }}
                    {{ form_widget(resumeForm.name, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(resumeForm.name) }}
                </div>
                <div class="form-group">
                    {{ form_label(resumeForm.description) }}
                    {{ form_widget(resumeForm.description, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(resumeForm.description) }}
                </div>
                <div class="form-group">
                    {{ form_label(resumeForm.isPublished) }}
                    {{ form_widget(resumeForm.isPublished) }}
                    {{ form_errors(resumeForm.isPublished) }}
                </div>
                <div class="form-group">
                    {{ form_label(resumeForm.salary) }}
                    {{ form_widget(resumeForm.salary, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(resumeForm.salary) }}
                </div>
                <button type="submit" class="submit-login btn btn-primary">Sign in</button>
                {{ form_end(resumeForm) }}

            </div>
        </div>
    </section>
{% endblock %}