{% extends 'base.html.twig' %}

{% block body %}
    <section class="container">
        <div class="row">
            <div class="col-9">

                <h2 class="mt-4 mb-3">Регистрация соискателя</h2>
                {{ form_start(signupForm) }}
                {{ form_errors(signupForm) }}
                <div class="form-group">
                    {{ form_label(signupForm.username) }}
                    {{ form_widget(signupForm.username, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(signupForm.username) }}
                </div>
                <div class="form-group">
                    {{ form_label(signupForm.email) }}
                    {{ form_widget(signupForm.email, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(signupForm.email) }}
                </div>
                <div class="form-group">
                    {{ form_label(signupForm.password.first) }}
                    {{ form_widget(signupForm.password.first, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(signupForm.password.first) }}
                </div>
                <div class="form-group">
                    {{ form_label(signupForm.password.second) }}
                    {{ form_widget(signupForm.password.second, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(signupForm.password.second) }}
                </div>
                <button type="submit" class="submit-login btn btn-primary">Sign in</button>
                {{ form_end(signupForm) }}

            </div>
        </div>
    </section>
{% endblock %}