{% macro print(key, filterWrap) %}
    <div class="card">
        <div class="card-header">
            <a class="text-dark" data-toggle="collapse" href="#multiCollapseExample{{ key }}" role="button" aria-expanded="false" aria-controls="multiCollapseExample{{ key }}">
                {{ filterWrap.name }}
            </a>
        </div>
        <div class="collapse multi-collapse" id="multiCollapseExample{{ key }}">
            <div class="card-body pt-0 pb-3">
                {% for option in filterWrap.options %}
                    <p class="m-1 list-group-item-action {{ option.isSelected ? 'clusters-value_selected' : '' }}">
                        <a class="text-muted" href="{{ option.query }}">{{ option.label }}</a>
                    </p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endmacro %}