{% macro print(job) %}
    <li class="jobs__items list-group-item card pb-4">
        <div class="card-body p-0">
            <div class="card-title">
                <a href="{{ path('desc_job', {'id': job.id}) }}">{{ job.name }}</a>
                <p>{{ job.company.name }}</p>
                <p>{{ job.salary }}</p>
            </div>
            <p class="card-text">
                {{ job.description }}
            </p>
            <a href="#">Откликнуться</a>
        </div>
    </li>
{% endmacro %}